.active-navbar {
  background-color: white;
  transition: all 1s;
}
.header-layout {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  opacity: 1;
  .header-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-home {
      width: 15%;
      z-index: 10;
      a {
        display: inline-block;
        cursor: pointer;
      }
    }
    .header-search {
      display: flex;
      justify-content: center;
      padding-bottom: 35px;
      @include responsive("md") {
        margin-top: 20px;
      }
      @include responsive("xl") {
        margin-top: 20px;
        padding-bottom: 20px;
      }
      form {
        z-index: 2;
        position: relative;
        .form-fill {
          background: $bg-header-light;
          border-radius: 50px;
          align-items: center;
          padding: 10px 30px;
          @include responsive("md") {
            font-size: $text-base;
            padding: 5px 20px;
          }
          @include responsive("xl") {
            font-size: $text-xl;
            padding: 10px 30px;
          }
          h4 {
            font-size: $text-xl;
            @include responsive("lg") {
              font-size: $text-base;
            }
          }
          .location {
            .destination {
              input {
                width: 100%;
                border: none;
                outline: none;
              }
            }
          }
          .add {
            text-align: end;
            .btn {
              padding-right: 85px;
              white-space: nowrap;
              button {
                padding: 5px 10px;
                border: none;
                background: $bg-header-main;
                border-radius: 50px;
                color: $text-c1-light;
                &:hover {
                  color: $text-c1-main;
                  background-color: $bg-grey;
                  transition: 0.6s;
                }
                @include responsive("md") {
                  font-size: $text-xs;
                }
                @include responsive("xl") {
                  font-size: $text-xl;
                }
              }
            }
          }
        }
        .result-location {
          position: absolute;
          top: 80px;
          right: 185px;
          width: 250px;
          height: 120px;
          overflow: hidden;
          overflow-y: auto;
          &::-webkit-scrollbar {
            display: none;
          }
          button {
            text-align: left;
            border: none;
            width: 100%;
            background-color: white;
            &:hover {
              background-color: $bg-header-main;
              color: white;
            }
          }
        }
      }
    }
    .header-info {
      z-index: 10;
      display: flex;
      align-items: center;
      @include responsive("lg") {
        width: 23%;
      }
      @include responsive("xl") {
        width: 15%;
      }
      .left-info {
        margin: 0 10px;
        @include responsive("md") {
          font-size: $text-xs;
          white-space: nowrap;
        }
        @include responsive("lg") {
          font-size: $text-xl;
        }
      }
      .center-info {
        margin: 0 10px;
      }
      .right-info {
        margin: 0 10px;
        padding: 8px;
        display: flex;
        border: 2px solid $bg-grey;
        border-radius: 10px;
        color: white;
        &:hover {
          background-color: $bg-header-main;
          color: white;
        }
        .nav-item {
          list-style: none;
          position: relative;
          a {
            .bar {
              padding-right: 10px;
            }
          }
          .list-info {
            right: -10px !important;
            li {
              a {
                background: $bg-header-light;
                color: $text-c1-dark;
                &:hover {
                  background: $bg-header-main;
                  color: $text-c1-light;
                  transition: 0.3s;
                }
              }
            }
          }
        }
      }
    }
  }
}
