.header-layout-mobile {
  width: 100%;
  opacity: 1;
  .header-page {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    .header-home {
      width: 15%;
      z-index: 10;
      a {
        display: inline-block;
        cursor: pointer;
      }
    }
    .header-center {
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 100px;
      h6 {
        font-size: $text-2xl;
      }
    }
    .header-info {
      z-index: 10;
      display: flex;
      align-items: center;

      .left-info {
        margin: 0 10px;
      }
      .center-info {
        margin: 0 10px;
      }
      .right-info {
        margin: 0 10px;
        padding: 8px;
        display: flex;
        border: 2px solid #cecece;
        border-radius: 10px;
        &:hover {
          background-color: $bg-header-main;
          color: white;
        }
        .nav-item {
          list-style: none;
          position: relative;
          .dropdown-toggle {
            &::after {
              display: none;
            }
          }
          a {
            .bar {
              padding-right: 10px;
            }
          }
          .list-info {
            li {
              a {
                background: $bg-header-light;
                color: $text-c1-dark;
                &:hover {
                  background: $bg-header-main;
                  color: $text-c1-light;
                  transition: 0.3s;
                }
              }
            }
          }
        }
      }
    }
  }
  .header-search {
    padding-bottom: 35px;
    form {
      z-index: 2;
      position: relative;
      .form-fill {
        background: $bg-header-light;
        border-radius: 50px;
        display: flex;
        align-items: center;
        h4 {
          font-size: $text-xl;
        }
        .location {
          padding-left: 20px;
          .destination {
            input {
              border: none;
              outline: none;
              @include responsive("xs") {
                width:100% !important ;
              }
              @include responsive("md") {
                width: 70% !important;
              }
            }
          }
        }
        .add {
          text-align: right;
          .btn {
            white-space: nowrap;
            button {
              padding: 5px 10px;
              border: none;
              background: $bg-header-main;
              border-radius: 50px;
              color: $text-c1-light;
              &:hover {
                color: $text-c1-main;
                background-color: $bg-grey;
                transition: 0.6s;
              }
            }
          }
        }
      }
      .result-location {
        position: absolute;
        top: 70px;
        left: 45px;
        width: 250px;
        height: 120px;
        overflow: hidden;
        overflow-y: auto;
        &::-webkit-scrollbar {
          display: none;
        }
        button {
          text-align: left;
          border: none;
          width: 100%;
          background-color: white;
          &:hover {
            background-color: $bg-header-main;
            color: white;
          }
        }
      }
    }
  }
}
