.login-page {
  .row {
    min-height: 500px;
    background-color: $bg-header-light;
    box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include responsive("xs") {
      padding: 20px;
    }
    @include responsive("md") {
      padding: 100px;
    }
    .signin-content {
      .signin-form {
        .form-title {
          padding: 20px 0;
        }
        .login-form {
          .form-group {
            margin-bottom: 25px;
            overflow: hidden;
            input {
              width: 100%;
              display: block;
              border: none;
              outline: none;
              padding: 6px 20px;
            }
          }
          .button {
            .btn-login {
              background: $bg-header-main;
              padding: 10px 40px;
              color: $text-c1-light;
              border-radius: 5px;
              margin-top: 25px;
              margin-right: 10px;
              border: none;
              &:hover {
                opacity: 0.5;
                transition: 0.3s;
              }
            }
            a {
              color: $text-c1-main;
            }
          }
        }
      }
    }
  }
}
