.login-page {
  .row {
    min-height: 500px;
    padding: 50px;
    background-color: $bg-header-light;
    box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    .signin-content {
      .signin-form {
        .form-title {
          padding: 20px 0;
        }
        .register-form {
          .form-group {
            margin-bottom: 25px;
            overflow: hidden;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #999;
            input {
              width: 100%;
              display: block;
              border: none;
              outline: none;
              padding: 6px 30px;
            }
          }
          .check-item {
            white-space: nowrap;
            .agree-term {
              margin-right: 5px;
            }
            .label-agree-term {
              a {
                color: $text-c1-dark;
              }
            }
          }
          .button {
            .btn-register {
              background: $bg-header-main;
              padding: 10px 40px;
              color: $text-c1-light;
              border-radius: 5px;
              margin-top: 25px;
              margin-right: 10px;
              border: none;
              &:hover {
                opacity: 0.5;
                transition: 0.3s;
              }
            }
            a {
              color: $text-c1-main;
            }
          }
        }
      }
    }
  }
}
