.profile-page {
  padding-top: 125px;
  .container {
    .row {
      .history {
        .edit-profile {
          button {
            background: $bg-header-light;
          }
        }

        .list-title {
          h4 {
            font-size: $text-3xl;
            font-weight: $text-bold;
          }
        }
        .list-choose {
          .thumbnail {
            img {
              object-fit: cover;
              min-height: 220px;
            }
          }
          .detail {
            h5 {
              @include responsive("lg") {
                font-size: $text-xl;
              }
              @include responsive("xl") {
                font-size: $text-2xl;
              }
            }
            p {
                font-size: $text-base;
            }
            .view-more {
              .button {
                margin-right: 10px;
                a {
                  font-size: $text-xl;
                  color: $text-c1-light;
                  background: $bg-header-main;
                  text-align: center;
                  position: relative;
                  transition: all 0.7s;
                  &::after {
                    position: absolute;
                    content: "🏨";
                    transition: all 0.5s;
                    opacity: 0;
                    top: 7px;
                    right: -20px;
                  }
                  &:hover {
                    padding-right: 40px;
                    padding-left: 10px;
                    &::after {
                      opacity: 1;
                      right: 10px;
                    }
                  }
                  span {
                    position: relative;
                    z-index: 2;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
